// Variables ===================================================================================== /

$cb: #000;
$cw: #fff;

$font-family: 'Rubik', sans-serif;

$font-size: 20px;

$minw-mp: 320px;
$minw-mxl: 375px;
$minw-ml: 480px;
$minw-tp: 750px;
$minw-tl: 1024px;
$minw-d: 1100px;
$minw-dxl: 1400px;
